.wrap {
  position: absolute;
  top: 0;
  right: -5px;
  width: 10px;
  height: calc(100vh - 48px);
  cursor: col-resize;
  display: flex;
  align-items: center;
}

.toggleBtn {
  position: relative;
  left: 5px;
  width: 10px;
  height: 40px;
  background: url(./images/expend.svg) no-repeat;
  cursor: pointer;
  &:hover {
    background-image: url(./images/expend-hover.svg);
  }
}

.fold {
  background-image: url(./images/not-expend.svg);
  &:hover {
    background-image: url(./images/not-expend-hover.svg);
  }
}
