<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>表格布局</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <h1>看列的对齐情况</h1>
  <div class="table">
    <div class="tr">
      <div class="td">第一列</div>
      <div class="td">第二列</div>
      <div class="td">第三列(定宽)</div>
    </div>
    <div class="tr">
      <div class="td">1</div>
      <div class="td">内容比较多内容比较多</div>
      <div class="td">3</div>
    </div>
    <div class="tr">
      <div class="td">内容比较多内容比较多</div>
      <div class="td">2</div>
      <div class="td">3</div>
    </div>
    <div class="tr">
      <div class="td">内容比较多内容比较多内容比较多内容比较多内容比较多内容比较多</div>
      <div class="td">2</div>
      <div class="td">3</div>
    </div>
  </div>
</body>
</html>